/* /////////////////////// */
/* ///// GENERAL CSS ///// */
/* /////////////////////// */

* {
  box-sizing: border-box;
}
a {
  width: fit-content;
}
h1 {
	font-size: 60px;
}
h3 {
  font-family: SF-Pro-Display;
  font-size: 24px;
  color: #fff;
}
html, body {
  overflow-x: hidden;
}
html {
  min-height: 100vh;
  background: #171717;
  scroll-behavior: smooth;
}
p {
  font-family: SF-Pro-Display;
  color: #fff;
  font-size: 20px;
}
ul {
  font-size: 18px;
  color: #fff;
  font-family: SF-Pro-Display;
}
ol {
  font-size: 18px;
  color: #fff;
  font-family: SF-Pro-Display;
}
th {
  color: #fff;
  font-size: 22px;
  font-family: SF-Pro-Display-Bold;
  padding: 10px 20px 10px 10px;
}
td {
  color: #fff;
  font-size: 18px;
  font-family: SF-Pro-Display;
  padding: 10px;
}
tbody tr:nth-child(2n+1) {
  background: #2d2d2d;
}
thead {
  background: #c26d4b;
  height: 40px;
}
.idm_image_caption {
  max-width: 500px;
  width: 100%;
  color: #fff;
  font-family: SF-Pro-Display;
  font-size: 18px;
}
.customize-support {
  margin: 0;
}
.idm_pull_quote {
  font-family: SF-Pro-Display-Bold;
  font-size: 22px;
  max-width: 300px;
  line-height: 28px;
}
.idm_video {
  max-width: 500px;
  width: 100%;
  color: #fff;
  font-family: SF-Pro-Display;
  font-size: 18px;
  margin: 0 !important;
}
.idm_video figcaption {
  margin: 0;
  padding: 10px 0 30px 0;
}
body {
  position: relative;
  margin: 0;

}
body::before {
  position: absolute;
  display: block;
  content: '';
  top: 80px;
  bottom: 80px;
  width: 14px;
  background: #fff;
  right: 50px;
}
body::after {
  position: absolute;
  display: block;
  content: '';
  top: 80px;
  bottom: 80px;
  width: 14px;
  background: #fff;
  right: 150.8px;
}
.idm_content_container {
  max-width: 1300px;
  width: 100%;
  padding: 0 50px;
}
.idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p + .wp-block-buttons .wp-block-button a {
  border-radius: 0;
  background: #fff;
  color: #171717;
  font-family: Caviar-Dreams;
  transition: all .5s ease-in-out;
  border: 2px solid #fff;
  position: relative;
	margin-bottom: 40px;
}
.idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p + .wp-block-buttons .wp-block-button a:hover {
  background: transparent;
  color: #fff;
  border-style: dashed;
}
li.current_page_item {
  border-bottom: 4px solid #000;
}
.idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p + .wp-block-buttons .wp-block-button a::before {
  content: '';
  position: absolute;
  display: block;
  bottom: -27px;
  background: #fff;
  width: 40px;
  height: 18px;
  transform: translateX(-50%);
  left: 50%;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 0% 0%);
}
section.idm_landing_screen {
  height: calc(100vh - 80px);
  position: relative;
  max-height: 1080px;
  border-bottom: 2px solid #fff;
}
section.idm_landing_screen > .wp-block-group__inner-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.idm_page_head {
  min-height: 400px;
}


/* ///////////////////// */
/* ///// FONTS CSS ///// */
/* ///////////////////// */

@font-face {
    font-family: Caviar-Dreams;
    src: url(../fonts/Caviar_Dreams_Bold.ttf);
    src: url(../fonts/Caviar_Dreams_Bold.woff);
    src: url(../fonts/Caviar_Dreams_Bold.woff2);
}
@font-face {
  font-family: SF-Pro-Display-Bold;
  src: url(../fonts/SFPRODISPLAYBOLD.ttf);
  src: url(../fonts/SFPRODISPLAYBOLD.woff);
  src: url(../fonts/SFPRODISPLAYBOLD.woff2);
}
@font-face {
  font-family: SF-Pro-Display;
  src: url(../fonts/SFPRODISPLAYREGULAR.ttf);
  src: url(../fonts/SFPRODISPLAYREGULAR.woff);
  src: url(../fonts/SFPRODISPLAYREGULAR.woff2);
}



/* ////////////////////// */
/* ///// HEADER CSS ///// */
/* ////////////////////// */

h1 {
  font-family: SF-Pro-Display;
  color: #fff;
  margin: 0 0 35px 0;
}
.idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 {
  font-family: SF-Pro-Display;
  color: #fff;
	font-size: 60px;
}
.idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 strong {
  font-family: SF-Pro-Display-Bold;
}
h2 {
  font-size: 48px;
  color: #fff;
  font-family: SF-Pro-Display-Bold;
  margin: 0 0 15px 0;
}
h4 {
  font-size: 22px;
  color: #fff;
  font-family: Caviar-Dreams;
  margin: 8px 0 12px 0;
}
h5 {
  font-size: 20px;
  color: #fff;
  font-family: SF-Pro-Display;
  margin: 0;
}
h6 {
  font-size: 18px;
  color: #fff;
  font-family: SF-Pro-Display;
  margin: 0;
}
#narrowcontent {
  margin: 100px 0;
}

/* ////////////////////////// */
/* ///// NAVIGATION CSS ///// */
/* ////////////////////////// */

#menu-primary-menu li a {
	font-family: Caviar-Dreams;
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
#menu-primary-menu li {
	list-style: none;
}
#menu-primary-menu {
  display: flex;
  flex-direction: revert;
  justify-content: flex-end;
  background: #fff;
  margin: 0;
  padding: 20px 50px;
	align-items: center;
  min-height: 80px;
}
#menu-primary-menu li:not(:last-child) {
  margin-right: 45px;
}
#mobile-hamburger {
	display: none;
}
#mobile-navigation {
  transition: all .5s ease-in-out;
}
#hamburger {
  cursor: pointer;
}
.menu-footer-menu-container {
  display: none !important;
}
#hamburger.closeMenu .hamburger-rectangles, #hamburger, #hamburger .hamburger-rectangles {
  transition: all .5s ease-in-out;
}
#hamburger.closeMenu .hamburger-rectangles:nth-child(2) {
  display: none;
}
#hamburger.closeMenu .hamburger-rectangles:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  right: 0;
  bottom: 17px;
}
#hamburger.closeMenu .hamburger-rectangles {
  margin: 0 !important;
}
#hamburger.closeMenu .hamburger-rectangles:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  right: 0;
  bottom: 17px;
}
#hamburger.closeMenu {
  position: relative;
  min-width: 40px;
  min-height: 40px;
}



/* ////////////////////// */
/* ///// FOOTER CSS ///// */
/* ////////////////////// */

#footer-navigation {
  background: #fff;
}
#footer-navigation li {
  list-style: none;
}
#footer-navigation a {
  text-decoration: none;
}
#footer-navigation .main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0 50px;
  min-height: 80px;
}
#footer-navigation .main-nav li:not(:last-child) {
  margin-right: 45px;
}


/* //////////////////// */
/* ///// HOME CSS ///// */
/* //////////////////// */

#home .Home > h1 {
  display: none;
}
.idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p {
  font-family: SF-Pro-Display;
  color: #fff;
}
#home .Home .idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p strong:first-child {
  color: #fff;
}
#home .Home .idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p strong:nth-child(3) {
  color: #67FF88;
}
#home .Home .idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p strong:nth-child(4) {
  color: #7198FF;
}
#home .Home .idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p strong:nth-child(5) {
  color: #FFCC68;
}
.idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p {
  font-size: 24px;
}
#home .Home .idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p strong {
  font-size: 26px;
  font-family: SF-Pro-Display-Bold;
  font-weight: 400;
}
#home .Home .idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p strong:nth-child(2) {
  color: #FF5F5F;
}
.html_text {
  color: #F88 !important;
}
.css_text {
  color: #88CDFF !important;
}
.javascript_text {
  color: #FFFA88 !important;
}
.php_text {
  color: #CB88FF !important;
}
.mysql_text {
  color: #FFCF88 !important;
}
.code_breadcrumbs {
  font-family: Caviar-Dreams !important;
  font-size: 18px !important;
}
.code_breadcrumbs .wp-block-group__inner-container {
  display: flex;
  flex-direction: row !important;
}
.code_breadcrumbs .wp-block-group__inner-container p:not(:last-child) {
  margin-right: 15px;
}
.code_breadcrumbs .wp-block-group__inner-container p {
  margin: 0;
}
.home_project_info .wp-block-group__inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home_project_text {
  font-family: SF-Pro-Display;
  color: #fff;
  font-size: 24px;
  border-left: 4px solid;
  padding-left: 10px;
}
.idm_project_home_display .wp-block-group__inner-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.home_project_info {
  max-width: 40%;
  width: 100%;
}
.idm_project_home_display .wp-block-group__inner-container figure {
  max-width: 45%;
}
.case_study_btn a {
  border-radius: 0;
  font-family: Caviar-Dreams;
  font-size: 18px;
  border: 2px solid;
  transition: all .5s ease-in-out;
}
.view_site_btn a {
  border-radius: 0;
  font-family: Caviar-Dreams;
  font-size: 18px;
  border: 2px solid;
  transition: all .5s ease-in-out;
}
.idm_project_group .wp-block-group__inner-container .idm_project_home_display a:hover {
  background: transparent !important;
  border-style: dashed;
}
.idm_project_group .wp-block-group__inner-container .idm_project_home_display:not(:last-child) {
  padding-bottom: 50px;
}
.idm_project_group .wp-block-group__inner-container .idm_project_home_display:not(:first-child) {
  padding-top: 50px;
}
.idm_project_group {
  padding: 100px 0;
}
.idm_project_group .wp-block-group__inner-container .idm_project_home_display:nth-child(2) a {
  background: #5D47FA;
  border-color: #5D47FA;
}
.idm_project_group .wp-block-group__inner-container .idm_project_home_display:nth-child(2) .home_project_text {
  border-color: #5D47FA;
}
.idm_project_group .wp-block-group__inner-container .idm_project_home_display:first-child a {
  background: #bc8720;
  border-color: #bc8720;
}
.idm_project_group .wp-block-group__inner-container .idm_project_home_display:first-child .home_project_text {
  border-color: #bc8720;
}
.idm_project_group .wp-block-group__inner-container .idm_project_home_display:first-child::before {
  position: absolute;
  display: block;
  content: '';
  width: 700px;
  height: 525px;
  background: #fff;
  opacity: .1;
  z-index: -1;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 0% 0%);
  transform: rotate(160deg);
  left: -200px;
  top: -140px;
}
.idm_project_home_display {
  position: relative;
}
.idm_project_group .wp-block-group__inner-container .idm_project_home_display:nth-child(2)::before {
  content: '';
  position: absolute;
  display: block;
  width: 700px;
  height: 525px;
  background: #fff;
  opacity: .1;
  z-index: -1;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 0% 0%);
  transform: rotate(108deg);
  right: -57px;
  top: -97px;
}
.home_search {
  font-family: SF-Pro-Display;
  color: #171717;
  font-size: 24px;
  border-radius: 50px;
  width: 100%;
  max-width: 600px;
  margin: 100px auto 0 auto;
}
.home_search input {
  border-radius: 50px;
  padding: 12px 30px;
}


.idm-home-project-info .idm-home-breadcrumbs {
  display: flex;
  flex-direction: revert;
  justify-content: flex-start;
  align-items: center;
}

.idm-home-project-info .idm-home-breadcrumbs p:not(:last-child) {
  margin-right: 15px;
}
.idm-home-breadcrumbs p {
  margin-top: 0;
  margin-bottom: 0;
}
.idm-home-project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.idm-projects .idm-home-project:nth-child(2) {
  flex-direction: row-reverse;
  margin-top: 100px;
}
.idm-home-project-info {
  max-width: 40%;
  width: 100%;
}
.idm-home-project-image {
  max-width: 50%;
  width: 100%;
}
.idm-projects {
  margin: 100px 0;
}
.idm-home-project .idm-project-blurb {
  font-size: 22px;
}
.idm-home-project .idm-project-links {
  flex-direction: row;
}
.idm-home-project .idm-project-links a:not(:last-child) {
  margin-right: 12px;
}
.idm-home-breadcrumbs {
  margin-top: 15px !important;
}




/* ///////////////////////// */
/* ///// ERROR 404 CSS ///// */
/* ///////////////////////// */

#error {
  min-height: calc(100vh - 160px);
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 50px;
}
#flex-error h1 {
  font-size: 60px;
}
#flex-error p {
  font-family: SF-Pro-Display;
  font-size: 24px;
  color: #fff;
}
#flex-error p span {
  font-family: SF-Pro-Display-Bold;
}
#flex-error p span:nth-child(2) {
  color: #FF5F5F;
}
#flex-error p span:nth-child(3) {
  color: #67FF88;
}
#flex-error p span:nth-child(4) {
  color: #7198FF;
}
#flex-error {
  max-width: 1200px;
  width: 100%;
}
#flex-error a {
  border-radius: 0;
  background: #fff;
  color: #171717;
  font-family: Caviar-Dreams;
  transition: all .5s ease-in-out;
  border: 2px solid #fff;
  position: relative;
  margin-bottom: 40px;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125em;
  padding: calc(.667em + 2px) calc(1.333em + 2px);
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  box-sizing: border-box;
}
#flex-error a:hover {
  background: transparent;
  border-style: dashed;
  color: #fff;
}



/* //////////////////////////////////////////////////// */
/* ///// PORTFOLIO LISTING CSS/SEARCH RESULTS CSS ///// */
/* //////////////////////////////////////////////////// */

.idm_portfolio_listing > h1, .idm_search > h1 {
  display: none;
}
.idm_portfolio_listing .idm_page_head h1, .idm_search .idm_page_head h1 {
  font-size: 60px;
}
.idm_portfolio_listing .idm_page_head p, .idm_search .idm_page_head p {
  font-size: 24px;
  font-family: SF-Pro-Display;
  color: #fff;
}
.idm_portfolio_listing .idm_page_head p strong:nth-child(2) {
  color: #7198FF;
}
.idm_portfolio_listing .idm_page_head p strong:nth-child(3) {
  color: #FFCC68;
}

.idm_search .idm_page_head p strong:nth-child(2) {
  color: #CB88FF;
}
.idm_search .idm_page_head p strong:nth-child(3) {
  color: #FFCC68;
}
.idm_search .idm_page_head p strong:nth-child(4) {
  color: #FF5F5F;
}
.idm_portfolio_listing .idm_page_head p strong, .idm_search .idm_page_head p strong {
  font-family: SF-Pro-Display-Bold;
  font-weight: 400;
}
.idm_portfolio_listing .idm_page_head a, .idm_search .idm_page_head a {
  border-radius: 0;
  background: #fff;
  color: #171717;
  font-family: Caviar-Dreams;
  transition: all .5s ease-in-out;
  border: 2px solid #fff;
  position: relative;
  margin-bottom: 40px;
}
.idm_portfolio_listing .idm_page_head a::before, .idm_search .idm_page_head a::before {
  content: '';
  position: absolute;
  display: block;
  bottom: -27px;
  background: #fff;
  width: 40px;
  height: 18px;
  transform: translateX(-50%);
  left: 50%;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 0% 0%);
}
.idm_portfolio_listing .idm_page_head a:hover, .idm_search .idm_page_head a:hover {
  background: transparent;
  color: #fff;
  border-style: dashed;
}
.idm_page_head {
  height: calc(100vh - 80px);
  position: relative;
  max-height: 1080px;
  border-bottom: 2px solid #fff;
}
.idm_page_head .wp-block-group__inner-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.idm_portfolio_listing .idm_portfolio_breadcrumbs .wp-block-group__inner-container, .idm_search .idm_portfolio_breadcrumbs .wp-block-group__inner-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.idm_portfolio_listing .idm_portfolio_breadcrumbs .wp-block-group__inner-container p:first-child, .idm_search .idm_portfolio_breadcrumbs .wp-block-group__inner-container p:first-child {
  width: 80%;
}
.idm_portfolio_listing .idm_portfolio_breadcrumbs .wp-block-group__inner-container p:last-child, .idm_search .idm_portfolio_breadcrumbs .wp-block-group__inner-container p:last-child {
  width: 14%;
}
.idm_portfolio_listing .idm_portfolio_breadcrumbs .wp-block-group__inner-container p, .idm_search .idm_portfolio_breadcrumbs .wp-block-group__inner-container p {
  border-top: 2px solid #fff;
  padding-top: 10px;
  color: #fff;
  font-family: Caviar-Dreams;
  font-size: 24px;
  margin: 0;
}
.idm_portfolio_listing .idm_page_head {
  border: none;
}
.idm_portfolio_listing .idm_portfolio_project_listing > .wp-block-group__inner-container, .idm_search .idm_portfolio_project_listing > .wp-block-group__inner-container {
  display: flex;
  flex-direction: row-reverse;
}
.idm_portfolio_listing .idm_portfolio_project_listing > .wp-block-group__inner-container .code_breadcrumbs .wp-block-group__inner-container, .idm_search .idm_portfolio_project_listing > .wp-block-group__inner-container .code_breadcrumbs .wp-block-group__inner-container {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: flex-start;
}
.idm_portfolio_listing .idm_portfolio_project_listing .code_breadcrumbs, .idm_search .idm_portfolio_project_listing .code_breadcrumbs {
  width: 14%;
}
.idm_portfolio_listing .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details, .idm_search .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details {
  width: 80%;
}
.idm_portfolio_listing .idm_portfolio_project_listing, .idm_search .idm_portfolio_project_listing {
  margin-top: 100px;
}
.idm_portfolio_listing .idm_portfolio_project_listing:last-child, .idm_search .idm_portfolio_project_listing:last-child {
  margin-bottom: 100px;
}
.idm_portfolio_listing .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details > .wp-block-group__inner-container, .idm_search .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details > .wp-block-group__inner-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
}
.idm_portfolio_listing .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details > .wp-block-group__inner-container figure, .idm_search .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details > .wp-block-group__inner-container figure {
  width: 100%;
  max-width: 400px;
}
.idm_portfolio_listing .idm_portfolio_project_listing > .wp-block-group__inner-container, .idm_search .idm_portfolio_project_listing > .wp-block-group__inner-container {
  justify-content: space-between;
}
.idm_portfolio_listing .idm_portfolio_project_listing .code_breadcrumbs p:not(:last-child), .idm_search .idm_portfolio_project_listing .code_breadcrumbs p:not(:last-child) {
  margin-bottom: 5px;
}
.idm_portfolio_listing .idm_portfolio_project_listing .code_breadcrumbs p, .idm_search .idm_portfolio_project_listing .code_breadcrumbs p {
  font-size: 20px;
}
.idm_portfolio_listing .idm_portfolio_listing_text .wp-block-group__inner-container h2 + p, .idm_search .idm_portfolio_listing_text .wp-block-group__inner-container h2 + p {
  font-size: 22px;
  color: #fff;
  font-family: SF-Pro-Display;
  margin: 0;
}
.idm_portfolio_listing .idm_portfolio_listing_text .wp-block-group__inner-container h2, .idm_search .idm_portfolio_listing_text .wp-block-group__inner-container h2 {
  margin: 0;
}
.idm_portfolio_listing .idm_portfolio_listing_text .wp-block-group__inner-container h2 + p + p, .idm_search .idm_portfolio_listing_text .wp-block-group__inner-container h2 + p + p {
  color: #fff;
  font-family: SF-Pro-Display;
  font-size: 18px;
  border-left: 4px solid;
  padding-left: 12px;
}
.idm_portfolio_listing .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details > .wp-block-group__inner-container .idm_portfolio_listing_text, .idm_search .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details > .wp-block-group__inner-container .idm_portfolio_listing_text {
  width: 100%;
  max-width: 380px;
}
.idm_portfolio_listing .idm_portfolio_listing_text a, .idm_search .idm_portfolio_listing_text a {
  border-radius: 0;
  font-family: Caviar-Dreams;
  font-size: 18px;
  border: 2px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  transition: all .5s ease-in-out;
}
.idm_portfolio_listing .idm_portfolio_listing_text .wp-block-group__inner-container .wp-block-buttons, .idm_search .idm_portfolio_listing_text .wp-block-group__inner-container .wp-block-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.idm_portfolio_listing .idm_portfolio_projects .idm_portfolio_project_listing:first-child a, .idm_search .idm_portfolio_projects .idm_portfolio_project_listing:first-child a {
  background: #bc8720;
  border-color: #bc8720;
}
.idm_portfolio_listing .idm_portfolio_projects .idm_portfolio_project_listing:nth-child(2) a, .idm_search .idm_portfolio_projects .idm_portfolio_project_listing:nth-child(2) a {
  background: #5D47FA;
  border-color: #5D47FA;
}
.idm_portfolio_listing .idm_portfolio_project_listing:first-child p, .idm_search .idm_portfolio_project_listing:first-child p {
  border-color: #bc8720 !important;
}
.idm_portfolio_listing .idm_portfolio_project_listing:nth-child(2) p, .idm_search .idm_portfolio_project_listing:nth-child(2) p {
  border-color: #5d47fa !important;
}
.idm_portfolio_listing .idm_portfolio_project_listing:nth-child(2) h2, .idm_search .idm_portfolio_project_listing:nth-child(2) h2 {
  font-size: 40px;
}
.idm_portfolio_listing .idm_portfolio_listing_text a:hover, .idm_search .idm_portfolio_listing_text a:hover {
  background: transparent !important;
  border-style: dashed;
}
.idm_portfolio_listing .idm_portfolio_project_listing:first-child .idm_portfolio_listing_text, .idm_search .idm_portfolio_project_listing:first-child .idm_portfolio_listing_text {
  position: relative;
}
.idm_portfolio_listing .idm_portfolio_project_listing:first-child .idm_portfolio_listing_text::before, .idm_search .idm_portfolio_project_listing:first-child .idm_portfolio_listing_text::before {
  content: '';
  position: absolute;
  display: block;
  background: #fff;
  opacity: .1;
  height: 500px;
  width: 550px;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 0% 0%);
  transform: rotate(18deg);
  z-index: -1;
  left: -123px;
}
.idm_portfolio_listing .idm_portfolio_project_listing:nth-child(2) figure, .idm_search .idm_portfolio_project_listing:nth-child(2) figure {
  position: relative;
}
.idm_portfolio_listing .idm_portfolio_project_listing:nth-child(2) figure::before, .idm_search .idm_portfolio_project_listing:nth-child(2) figure::before {
  position: absolute;
  display: block;
  content: '';
  background: #fff;
  opacity: .1;
  height: 500px;
  width: 400px;
  clip-path: polygon(0% 0%, 30% 100%, 100% 0%, 0% 0%);
  transform: rotate(85deg);
  z-index: -1;
  right: -76px;
}



/* ////////////////////// */
/* ///// SINGLE CSS ///// */
/* ////////////////////// */

.idm_single_hero {
  height: calc(50vh - 80px);
  background: url(/idm250-kpd46/wp-content/uploads/2022/02/tastyFoodCoWp.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.idm_single_hero::before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: .5;
}
.idm_single_title {
  position: relative;
  font-size: 80px;
}
.idm_single_hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
.idm_single {
  z-index: 20;
  position: relative;
  background: #171717;
}
.idm_case_h3p h3 {
  color: #fff;
  font-family: Caviar-Dreams;
  font-size: 28px;
  margin: 0;
}
.idm_single_content {
  padding: 0 50px;
  margin-top: 100px;
  max-width: 1300px;
  margin: 100px auto 0 auto;
  width: 100%;
}
.idm_single_image_group .wp-block-group__inner-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.idm_single_image_group .wp-block-group__inner-container figure {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.idm_single_image_group .wp-block-group__inner-container figure img {
  width: 80%;
}
.idm_overview {
  margin-bottom: 100px;
}
.idm_overview p {
  border-left: 4px solid;
  padding-left: 12px;
}
.idm_context_challenges .idm_case_h3p {
  margin-bottom: 50px;
}
.idm_case_h3p p {
  margin: 10px 0 0 0;
}
.idm_context_challenges {
  margin-bottom: 100px;
}
.wp-container-62006d8a2d365.wp-block-group.idm_process_insights {
  margin-bottom: 100px;
}
.idm_the_solution {
  margin: 100px auto;
}
.idm_the_result {
  padding-bottom: 100px;
}
.idm_case_btn a {
  border-radius: 0;
  font-family: SF-Pro-Display;
  margin-top: 25px;
  transition: all .5s ease-in-out;
  border: 2px solid;
}
.category-casestudy .idm_single a:hover {
  background: transparent !important;
  border-style: dashed !important;
}
.idm_single_image_group {
  margin: 100px auto;
}
.idm_single_image_group .wp-block-group__inner-container figure::before {
  position: absolute;
  display: inline-block;
  content: 'This is an image label';
  top: -35px;
  padding: 5px 15px;
  background: #fff;
  left: 50%;
  font-size: 18px;
  transform: translateX(-50%);
  font-family: SF-Pro-Display;
  border: 2px solid #171717;
}
#case-study-–-scripting-ii .idm_process_insights + .idm_single_image_group figure:first-child::before {
  content: 'Homepage';
}
#case-study-–-scripting-ii .idm_process_insights + .idm_single_image_group figure:last-child::before {
  content: 'Recipe Page';
}
#case-study-–-scripting-ii .idm_process_insights + .idm_single_image_group + .idm_single_solo_text + .idm_single_image_group figure:first-child::before {
  content: 'Individual Recipe Page';
}
#case-study-–-scripting-ii .idm_process_insights + .idm_single_image_group + .idm_single_solo_text + .idm_single_image_group figure:last-child::before {
  content: 'Search Results Page';
}
#case-study-–-scripting-ii .idm_process_insights + .idm_single_image_group + .idm_single_solo_text + .idm_single_image_group + .idm_single_solo_text + .idm_single_image_group figure:first-child::before {
  content: 'Admin Login Page';
}
#case-study-–-scripting-ii .idm_process_insights + .idm_single_image_group + .idm_single_solo_text + .idm_single_image_group + .idm_single_solo_text + .idm_single_image_group figure:nth-child(2)::before {
  content: 'Admin Recipe Listing Page';
}
#case-study-–-scripting-ii .idm_process_insights + .idm_single_image_group + .idm_single_solo_text + .idm_single_image_group + .idm_single_solo_text + .idm_single_image_group figure:nth-child(3)::before {
  content: 'Admin Add Recipe Page';
}
.category-casestudy .idm_single .idm_single_hero + img {
  display: none;
}
#case-study-–-scripting-ii h3 {
  color: #dc8341;
}
#case-study-–-scripting-ii p {
  border-color: #dc8341;
}
#case-study-–-scripting-ii .idm_case_btn a {
  background: #dc8341;
  border-color: #dc8341;
}
.heading_flex .wp-block-group__inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  width: 100%;
}
.list_flex .wp-block-group__inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  width: 100%;
}
#case-study-–-scripting-ii .idm_single_hero {
	background-image: url(/idm250-kpd46/wp-content/uploads/2022/02/tastyFoodCoWp.png);
}
#case-study-–-microinteractions .idm_single_hero {
	background-image: url(/idm250-kpd46/wp-content/uploads/2022/02/microinteractionsWp.png);
}
#case-study-–-microinteractions h3 {
  color: #87F;
}
#case-study-–-microinteractions p {
  border-color: #87F;
}
#case-study-–-microinteractions .idm_single a {
  background: #87F;
  border-color: #87F;
}
.category-casestudy #mobile-navigation {
  z-index: 3000 !important;
}
.category-casestudy #mobile-hamburger {
  z-index: 4000 !important;
}
.idm_process_insights .idm_case_h3p:not(:last-child) {
  margin-bottom: 50px;
}
.idm_single_image_group figure {
  margin-bottom: 100px;
}
.idm_single_image_group + .idm_single_solo_text {
  margin-top: -100px;
}
.idm_single_image_group + .idm_the_solution {
  margin-top: -100px;
}
.idm_single_image_group + .idm_case_h3p {
  margin-top: -100px;
}
.idm_single_image_group + .idm_the_result {
  margin-top: -100px;
}
.category-casestudy .idm_single a {
  border-radius: 0;
  font-family: SF-Pro-Display;
  margin-top: 25px;
  transition: all .5s ease-in-out;
  border: 2px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
}
#case-study-–-microinteractions .idm_single_image_group figure:first-child::before {
  content: 'Image 1';
}
#case-study-–-microinteractions .idm_single_image_group figure:nth-child(2)::before {
  content: 'Image 2;;
}
#case-study-–-microinteractions .idm_single_image_group figure:nth-child(3)::before {
  content: 'Image 3';
}
#case-study-–-microinteractions .idm_single_image_group figure:nth-child(4)::before {
  content: 'Image 4';
}
#case-study-–-microinteractions .idm_single_image_group figure:nth-child(2)::before {
  content: 'Image 2';
}



/* //////////////////////////// */
/* ///// PROJECT TEMPLATE ///// */
/* //////////////////////////// */

.idm-project-code-breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 14%;
}
.idm-project-preview {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.idm-project-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
}
.idm-project-subheading {
  font-size: 22px;
  color: #fff;
  font-family: SF-Pro-Display;
  margin: 0;
}
.idm-project-name {
  margin: 0;
  white-space: nowrap;
}
.idm-project-blurb {
  color: #fff;
  font-family: SF-Pro-Display;
  font-size: 18px;
  border-left: 4px solid;
  border-left-color: currentcolor;
  padding-left: 12px;
}
.idm-project-preview-text {
  width: 100%;
  max-width: 380px;
}
.idm-project-image {
  width: 100%;
  max-width: 400px;
}
.idm-project-code-breadcrumbs p {
  margin: 0;
}
.idm-project-code-breadcrumbs p:not(:last-child) {
  margin-bottom: 5px;
}
.idm-project-links a {
  color: #fff;
  background-color: #32373c;
  border-radius: 9999px;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125em;
  padding: calc(.667em + 2px) calc(1.333em + 2px);
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  box-sizing: border-box;
	border-radius: 0;
	font-family: Caviar-Dreams;
	font-size: 18px;
	border: 2px solid;
	border-top-color: currentcolor;
	border-right-color: currentcolor;
	border-bottom-color: currentcolor;
	border-left-color: currentcolor;
	border-top-color: currentcolor;
	border-right-color: currentcolor;
	border-bottom-color: currentcolor;
	border-left-color: currentcolor;
	transition: all .5s ease-in-out;
}
.idm-project-links a:hover {
	background: transparent !important;
	border-style: dashed;
}
.idm-project-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.idm-project-links a:not(:last-child) {
	margin-bottom: 8px;
}
.idm-project-preview {
  margin-top: 100px;
}
.idm-project-preview:last-child {
  margin: 100px 0;
}
p.pull-quote {
  font-size: 24px;
  font-weight: 700;
  max-width: 350px;
}
tbody tr:first-child {
  background: #41589b;
}
a.text-link {
  color: #fff;
  font-family: SF-Pro-Display;
  font-size: 20px;
}
.idm-links .text-link {
  margin-right: 30px;
}
a.button-link {
  padding: 12px 15px;
  background: #fff;
  color: #000;
  text-decoration: none;
  font-family: Caviar-Dreams;
  font-size: 20px;
  border: 2px solid #fff;
  transition: all .5s ease-in-out;
  cursor: pointer;
}
a.button-link:hover {
  background: transparent;
  border-style: dashed;
  color: #fff;
}
.idm-image-with-captions {
  max-width: 700px;
  width: 100%;
}


/* //////////////////////////////////// */
/* ///// DEFAULT/GENERAL TEMPLATE ///// */
/* //////////////////////////////////// */

.idm-default-template > h1 {
  min-height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid #fff;
  max-height: 1080px;
  height: calc(100vh - 80px);
}
.idm-headings, .idm-lists, .idm-table, .idm-buttons, .idm-paragraphs, .idm-pullquotes, .idm-links, .idm-image-with-captions, .idm-video-embed {
  padding: 50px;
}
button {
  padding: 12px 15px;
  font-size: 20px;
  font-family: Caviar-Dreams;
  border-radius: 0;
  border: 2px solid #fff;
  background: #fff;
  transition: all .5s ease-in-out;
  cursor: pointer;
}
button:hover {
  border-style: dashed;
  background: transparent;
  color: #fff;
}
.idm-buttons button:not(:last-child) {
  margin-right: 15px;
}
.idm-headings h6 {
  margin-top: 15px;
}
li:not(:last-child) {
  margin-bottom: 6px;
}
button {
  width: fit-content;
}



/* //////////////////////// */
/* ///// PAGE.php CSS ///// */
/* //////////////////////// */

.idm-default-page > h1 {
  display: none;
}
.wp-block-button__link {
  border-radius: 0;
  background: #fff;
  color: #000;
  font-family: Caviar-Dreams;
  transition: all .5s ease-in-out;
  border: 2px solid #fff;
}
.wp-block-button__link:hover {
  background: transparent;
  border-style: dashed;
  color: #fff !important;
}
.wp-block-button__link:visited {
	color: #000;
}
.wp-block-pullquote p, .wp-block-pullquote cite {
  text-align: left;
  color: #fff;
}
.wp-block-pullquote {
  max-width: 400px;
}
.wp-block-pullquote p {
  font-family: SF-Pro-Display;
  font-size: 22px;
}
.wp-block-pullquote cite {
  font-family: Caviar-Dreams;
}
p a {
  color: #fff;
}
.wp-block-image.size-full {
  max-width: 600px;
}
.wp-block-image.size-full figcaption {
  color: #fff;
  font-size: 18px;
  font-family: SF-Pro-Display;
}
.idm_page_head .wp-block-buttons a {
  position: relative;
}
.idm_page_head .wp-block-buttons a::before {
  content: '';
  position: absolute;
  display: block;
  bottom: -27px;
  background: #fff;
  width: 40px;
  height: 18px;
  transform: translateX(-50%);
  left: 50%;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 0% 0%);
}


/* /////////////////////// */
/* ///// ARCHIVE CSS ///// */
/* /////////////////////// */

.archive-title {
  height: calc(100vh - 80px);
  border-bottom: 2px solid #fff;
  max-height: 1080px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.archive-title span {
  margin-left: 20px;
  font-size: 100px;
}
.idm-archive-project-link {
  color: #000;
  font-family: Caviar-Dreams;
  transition: all .5s ease-in-out;
  border: 2px solid #fff;
	background: #fff; 
	padding: 10px 15px; 
	text-decoration: none;
	font-size: 18px;
}
.idm-archive-project-link:hover {
  border: ;
  border-style: dashed;
  background: transparent;
  color: #fff;
}
.idm-archive-project {
  margin-bottom: 100px;
}
.idm-archive-project:nth-child(2) {
  margin-top: 100px;
}
.nav-links .current, .current {
  color: #fff;
  font-size: 36px;
  font-weight: 900;
}
.nav-links, .page-numbers {
  font-family: SF-Pro-Display;
	padding: 0 0 50px 0;
}
.nav-links a, a.page-numbers {
  color: #fff;
  font-size: 22px;
}
.nav-links .page-numbers:not(:last-child), .page-numbers:not(:last-child) {
  margin-right: 25px;
}
.nav-links .page-numbers, .page-numbers {
  text-decoration: none;
}
.idm-archive-project img, .idm-archive-project p {
  max-width: 600px;
	width: 100%;
}
.idm-archive-project p {
  margin: 30px 0;
  padding-left: 10px;
  border-left: 4px solid #fff;
}
#all-projects .idm_portfolio_listing.idm_content_container {
  min-height: calc(100vh - 160px);
}


/* ////////////////////// */
/* ///// SEARCH CSS ///// */
/* ////////////////////// */

.container.search-results, .container.project-display {
  min-height: calc(100vh - 160px);
}
#search-results-header, #all-projects-header {
  height: 100vh;
	max-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
	border-bottom: 2px solid #fff;
	margin-bottom: 100px;
}
#search-results-header h1, #all-projects-header h1 {
  font-weight: 700;
  font-family: ;
  margin-bottom: 10px;
}
#search-results-header p, #all-projects-header p {
  margin: 10px 0 25px 0;
}
#search-results-header a, #all-projects-header a {
  text-decoration: none;
  font-family: Caviar-Dreams;
  padding: 10px 15px;
  background: #fff;
  border: 2px solid #fff;
  color: #000;
  transition: all .5s ease-in-out;
	font-size: 20px;
}
#search-results-header p b , #all-projects-header p b{
  font-weight: 700;
}
#search-results-header a:hover, #all-projects-header a:hover {
  background: transparent;
  border-style: dashed;
  color: #fff;
}
a.no-search-luck {
  padding: 10px 15px;
  font-family: Caviar-Dreams;
  background: #fff;
  text-decoration: none;
  color: #000;
  border: 2px solid #fff;
  transition: all .5s ease-in-out;
	font-size: 20px;
}
a.no-search-luck:hover {
  border-style: dashed;
  background: transparent;
  color: #fff;
}
p.no-search-luck {
  margin-bottom: 40px;
	font-size: 20px;
}
#search-results-header p, #all-projects-header p {
  font-size: 24px;
}
#search-results-header p b:nth-child(2) {
  color: #CB88FF;
}
#search-results-header p b:nth-child(3) {
  color: #FFCC68;
}
#search-results-header p b:nth-child(4) {
  color: #FF5F5F;
}
#search-results-header a, #all-projects-header a {
  position: relative;
}
#search-results-header a::before, #all-projects-header a::before {
  content: '';
  position: absolute;
  display: block;
  bottom: -27px;
  background: #fff;
  width: 40px;
  height: 18px;
  transform: translateX(-50%);
  left: 50%;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 0% 0%);
}



/* ////////////////////// */
/* ///// NARROW CSS ///// */
/* ////////////////////// */

#narrow-header + p strong:first-child {
  color: #8bff8b;
}
#narrow-header + p strong:nth-child(2) {
  color: #ff6464;
}
#narrow-header + p strong:nth-child(3) {
  color: #ffff6b;
}



/* ///////////////////////// */
/* ///// MEDIA QUERIES ///// */
/* ///////////////////////// */

@media only screen and (max-width: 1464px) {
.idm_content_container, #flex-error {
  max-width: 1100px;
}
.idm-project-name {
  font-size: 40px;
}
.idm-project-image {
  max-width: 360px;
}
.idm-project-preview-text {
  max-width: 360px;
}
.idm-links {
  display: flex;
  flex-direction: column;
}
.idm-links .button-link {
  margin-top: 30px;
}
}

@media only screen and (max-width: 1364px) {
#flex-error {
  max-width: 1000px;
}
}

@media only screen and (max-width: 1264px) {
.idm_content_container, #flex-error {
  max-width: 900px;
}
.idm_portfolio_listing .idm_portfolio_breadcrumbs .wp-block-group__inner-container p, .idm_search .idm_portfolio_breadcrumbs .wp-block-group__inner-container p {
  font-size: 18px;
}
.idm_portfolio_listing .idm_portfolio_project_listing:nth-child(2) h2, .idm_search .idm_portfolio_project_listing:nth-child(2) h2 {
  font-size: 32px;
}
.idm_portfolio_listing .idm_portfolio_project_listing .code_breadcrumbs p, .idm_search .idm_portfolio_project_listing .code_breadcrumbs p {
  font-size: 18px;
}
.idm_portfolio_listing .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details > .wp-block-group__inner-container .idm_portfolio_listing_text, .idm_search .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details > .wp-block-group__inner-container .idm_portfolio_listing_text {
  margin-right: 15px;
}
.idm_portfolio_listing h2, .idm_search h2 {
  font-size: 36px;
}
.idm-project-image {
	max-width: 280px;
}
.idm-project-preview-text {
	max-width: 320px;
}
.idm-home-project .idm-project-blurb {
  font-size: 20px;
}
.idm-buttons button:not(:last-child) {
  margin-right: 0;
  margin-bottom: 15px;
}
.idm-buttons {
  display: flex;
  flex-direction: column;
}
.archive-title span {
  font-size: 80px;
}
}

	


@media only screen and (max-width: 1140px) {
.idm_project_group .wp-block-group__inner-container .idm_project_home_display:nth-child(2) h2 {
  font-size: 40px;
}
#flex-error {
  max-width: 800px;
}
}

@media only screen and (max-width: 1064px) {
.idm_content_container {
  max-width: 800px;
}
.idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 {
  font-size: 50px;
}
#home .Home .idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p strong {
  font-size: 22px;
}
.idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p {
  font-size: 22px;
}
#flex-error {
  max-width: 700px;
}
.idm_portfolio_listing .idm_portfolio_listing_text .wp-block-group__inner-container h2 + p + p, .idm_search .idm_portfolio_listing_text .wp-block-group__inner-container h2 + p + p {
  font-size: 16px;
}
.idm_portfolio_listing .idm_page_head p, .idm_search .idm_page_head p {
  font-size: 22px;
}
.idm_portfolio_listing .idm_page_head h1, .idm_search .idm_page_head h1 {
  font-size: 50px;
}
.idm_portfolio_listing h2, .idm_search h2 {
    font-size: 32px;
}
.idm-project-preview-text {
    padding-right: 30px;
}
.idm-home-project-image {
  max-width: 40%;
}
.idm-home-project-info {
  max-width: 50%;
}
}

	
	
	
	


@media only screen and (max-width: 1000px) {
.idm_single_title {
  font-size: 60px;
}
p {
  font-size: 18px;
}
.idm_single_image_group .wp-block-group__inner-container figure img {
  width: 90%;
}
.idm_single_image_group .wp-block-group__inner-container figure::before {
  top: -33px;
  font-size: 16px;
}
th {
  font-size: 20px;
}
td {
  font-size: 16px;
}
.idm_pull_quote {
  font-size: 20px;
  line-height: 26px;
}
.idm_single h2 {
  font-size: 40px;
}
.idm_single h3 {
  font-size: 24px;
}
a.text-link {
  font-size: 18px;
}
button {
  font-size: 18px;
}
a.button-link {
  font-size: 18px;
}
}

@media only screen and (max-width: 964px) {
.idm_content_container {
  max-width: 700px;
}
.idm_project_group .wp-block-group__inner-container .idm_project_home_display:first-child > .wp-block-group__inner-container {
  flex-direction: column-reverse;
}
.idm_project_group .wp-block-group__inner-container .idm_project_home_display:nth-child(2) > .wp-block-group__inner-container {
  flex-direction: column;
}
.idm_project_home_display .wp-block-group__inner-container figure {
  max-width: 100%;
}
.home_project_info {
  max-width: 100%;
}
.idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 {
    font-size: 48px;
}
#home .Home .idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p strong {
    font-size: 20px;
}
.idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p {
  font-size: 20px;
}
#flex-error {
  max-width: 600px;
}
#flex-error p {
  font-size: 20px;
}
#flex-error h1 {
  font-size: 56px;
}
.idm_portfolio_listing .idm_portfolio_breadcrumbs {
  display: none;
}
.idm_portfolio_listing .idm_page_head  {
  border-bottom: 2px solid #fff;
}
.idm_portfolio_listing .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details > .wp-block-group__inner-container, .idm_search .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details > .wp-block-group__inner-container {
  flex-direction: column;
}
.idm_portfolio_listing .idm_portfolio_project_listing > .wp-block-group__inner-container, .idm_search .idm_portfolio_project_listing > .wp-block-group__inner-container {
  flex-direction: column;
}
.idm_portfolio_listing .idm_portfolio_project_listing > .wp-block-group__inner-container .code_breadcrumbs .wp-block-group__inner-container, .idm_search .idm_portfolio_project_listing > .wp-block-group__inner-container .code_breadcrumbs .wp-block-group__inner-container {
  flex-direction: row !important;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}
.idm_portfolio_listing .idm_portfolio_project_listing .code_breadcrumbs, .idm_search .idm_portfolio_project_listing .code_breadcrumbs {
  width: 100%;
}
.idm_portfolio_listing .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details, .idm_search .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details {
  width: 100%;
}
.idm_portfolio_listing .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details > .wp-block-group__inner-container figure, .idm_search .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details > .wp-block-group__inner-container figure {
  max-width: 100%;
}
.idm_portfolio_listing .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details > .wp-block-group__inner-container .idm_portfolio_listing_text, .idm_search .idm_portfolio_project_listing > .wp-block-group__inner-container .idm_portfolio_project_details > .wp-block-group__inner-container .idm_portfolio_listing_text {
  max-width: 100%;
}
.idm_portfolio_listing .idm_portfolio_listing_text .wp-block-group__inner-container .wp-block-buttons, .idm_search .idm_portfolio_listing_text .wp-block-group__inner-container .wp-block-buttons {
  flex-direction: revert;
  justify-content: flex-start;
  align-items: center;
}
.idm_portfolio_listing .idm_portfolio_project_listing .code_breadcrumbs p:not(:last-child), .idm_search .idm_portfolio_project_listing .code_breadcrumbs p:not(:last-child) {
  margin-bottom: 0;
}
.idm_portfolio_listing .idm_page_head p, .idm_search .idm_page_head p {
  font-size: 20px;
}
.idm-project-info {
  flex-direction: column-reverse;
  width: 100%;
}
.idm-project-preview {
  flex-direction: column;
}
.idm-project-code-breadcrumbs {
  width: 100%;
  flex-direction: row;
}
.idm-project-code-breadcrumbs p:not(:last-child) {
  margin-right: 15px;
}
.idm-project-image {
  max-width: 100%;
  margin-top: 15px;
}
.idm-project-preview-text {
  max-width: 100%;
  margin-top: 30px;
}
.idm-project-name {
  font-size: 40px !important;
}
.idm-project-links {
  flex-direction: row;
}
.idm-project-links a:not(:last-child) {
  margin-right: 15px;
}
.idm-projects .idm-home-project:nth-child(2) {
  flex-direction: column-reverse;
}
.idm-projects .idm-home-project:first-child {
  flex-direction: column-reverse;
}
.idm-home-project-info {
  max-width: 100%;
}
.idm-home-project-image {
  max-width: 100%;
  margin-bottom: 25px;
}
.idm-home-project .idm-project-links {
  flex-direction: row;
}
iframe {
  max-width: 500px;
}
p.pull-quote {
  font-size: 22px;
}
h1 {
	font-size: 48px;
}
h2 {
	font-size: 40px;
}
.archive-title span {
  font-size: 60px;
}
}

@media only screen and (max-width: 864px) {
.idm_content_container {
  max-width: 600px;
}
.home_project_text {
  font-size: 20px;
}
.idm_content_container {
  padding: 0 100px 0 50px;
}
.home_search {
  font-size: 20px;
}
.idm_single_image_group .wp-block-group__inner-container figure {
  width: 100%;
}
.idm_single_image_group .wp-block-group__inner-container figure::before {
  top: -38px;
  font-size: 20px;
}
.idm_single_image_group .wp-block-group__inner-container figure:not(:first-child) {
  margin-top: 50px;
}	
.idm-home-project .idm-project-links {
  flex-direction: column;
}
.idm-headings, .idm-lists, .idm-table, .idm-buttons, .idm-paragraphs, .idm-pullquotes, .idm-links, .idm-image-with-captions, .idm-video-embed {
  padding: 50px 0;
}
.archive-title {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.archive-title span {
  margin-left: 0;
  margin-top: 30px;
  font-size: 60px;
}
.idm-archive-project-title h2 {
  font-size: 30px;
}
.idm-archive-project img, .idm-archive-project p {
  width: 100%;
}
}

@media only screen and (max-width: 800px) {
#flex-error {
  max-width: 500px;
}
}

@media only screen and (max-width: 764px) {

}

@media only screen and (max-width: 1080px) {
#menu-primary-menu li a {
  font-size: 20px;
}
#menu-primary-menu li:not(:last-child) {
  margin-right: 35px;
}
#menu-primary-menu {
  padding: 10px 50px;
  min-height: 60px;
}
body::before {
  top: 60px;
  bottom: 60px;
}
body::after {
  top: 60px;
  right: 131.65px;
  bottom: 60px;
}
#footer-navigation .main-nav {
  min-height: 60px;
}
#footer-navigation img {
  height: 30px;
}
#footer-navigation .main-nav li:not(:last-child) {
  margin-right: 35px;
}
#error {
  min-height: calc(100vh - 120px);
}
}

@media only screen and (max-width: 720px) {
#flex-error {
  max-width: 400px;
}
}

@media only screen and (max-width: 700px) {
#mobile-navigation #menu-primary-menu {
  flex-direction: column;
  align-items: flex-end;
  min-height: 100vh;
  justify-content: center;
}
#menu-primary-menu li:not(:last-child) {
  margin-right: 0;
  margin-bottom: 30px;
}
#menu-primary-menu li a {
  font-size: 65px;
}
#menu-primary-menu {
  padding: 80px;
}
#mobile-navigation {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
}
#hamburger {
  z-index: 1000;
}
#mobile-hamburger {
  position: relative;
  min-height: 60px;
  background: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 45px;
}
.hamburger-rectangles {
  padding: 3px 20px;
  background: #000;
}
#hamburger .hamburger-rectangles:not(:last-child) {
  margin-bottom: 5px;
}
body::before {
  right: 45px;
}
body::after {
  display: none;
}
#footer-navigation img {
  height: 25px;
}
#footer-navigation .main-nav {
  padding: 0 45px;
}
.idm_single_title {
	font-size: 45px;
}
.idm_single h2 {
	font-size: 36px;
}
.idm_pull_quote {
	font-size: 18px;
	line-height: 24px;
}
.idm-project-name {
  font-size: 34px !important;
}
}

@media only screen and (max-width: 600px) {
.idm_single_image_group .wp-block-group__inner-container figure img {
  width: 100%;
}
th {
  font-size: 16px;
}
td {
  font-size: 14px;
}

.idm_single_content {
  padding: 0 30px;
}
ul {
  font-size: 16px;
}
ol {
  font-size: 16px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
.idm_pull_quote {
  font-size: 16px;
  line-height: 22px;
}

.idm_image_caption {
  font-size: 16px;
}
.idm_video {
  font-size: 16px;
}
.idm_single_title {
  font-size: 35px;
}
.idm_single_image_group .wp-block-group__inner-container figure::before {
    top: -33px;
    font-size: 16px;
}
p {
    font-size: 16px;
}
}

@media only screen and (max-width: 520px) {
#flex-error p {
  font-size: 18px;
}
#flex-error {
  max-width: 280px;
}
}

@media only screen and (max-width: 500px) {
#menu-primary-menu li a {
    font-size: 50px;
}
#menu-primary-menu {
  padding: 60px;
}
.idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 {
    font-size: 42px;
}
.idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p {
    font-size: 18px;
}
#home .Home .idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 + p strong {
    font-size: 18px;
}
h2 {
  font-size: 34px;
}
.idm_project_group .wp-block-group__inner-container .idm_project_home_display:nth-child(2) h2 {
    font-size: 34px;
}
.code_breadcrumbs {
  font-size: 14px !important;
}
.code_breadcrumbs .wp-block-group__inner-container p:not(:last-child) {
  margin-right: 10px;
}
.idm_portfolio_listing .idm_portfolio_project_listing .code_breadcrumbs p, .idm_search .idm_portfolio_project_listing .code_breadcrumbs p {
  font-size: 16px;
}
.idm_portfolio_listing .idm_page_head p, .idm_search .idm_page_head p {
  font-size: 18px;
}
.idm_single h2 {
    font-size: 32px;
}
.idm_single h3 {
    font-size: 20px;
}
.idm_single_image_group .wp-block-group__inner-container figure::before {
  padding: 5px 10px;
}
.idm-project-links {
  flex-direction: column;
}
h1 {
	font-size: 42px;
}
h2 {
	font-size: 34px;
}
}


@media only screen and (max-width: 450px) {
th {
    font-size: 14px;
}
td {
    font-size: 12px;
}
.idm_single_image_group .wp-block-group__inner-container figure::before {
    top: -28px;
    font-size: 12px;
}
.heading_flex .wp-block-group__inner-container {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.list_flex .wp-block-group__inner-container {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.heading_flex .wp-block-group__inner-container h4, .heading_flex .wp-block-group__inner-container h5 {
  margin-bottom: 15px;
}
}

@media only screen and (max-width: 420px) {
.idm_content_container .idm_landing_screen .wp-block-group__inner-container > h1 {
    font-size: 36px;
}
.idm_portfolio_listing .idm_portfolio_project_listing:nth-child(2) h2, .idm_search .idm_portfolio_project_listing:nth-child(2) h2 {
  font-size: 30px;
}
}

@media only screen and (max-width: 400px) {
#menu-primary-menu li a {
      font-size: 40px;
}
.idm_project_group .wp-block-group__inner-container .idm_project_home_display:nth-child(2) h2 {
    font-size: 30px;
}
body::before {
    display: none;
}
.idm_content_container {
    padding: 0 30px;
}
th {
  padding-left: 4px;
}
td {
  padding: 8px 4px;
}
.idm_pull_quote {
  line-height: 20px;
}
.idm_single_title {
    font-size: 28px;
}

.idm_single h2 {
    font-size: 26px;
}
.idm_single h3 {
    font-size: 16px;
}
}

@media only screen and (min-width: 2100px) {
.idm_content_container, #flex-error {
  margin-left: 200px;
}
}

@media only screen and (min-width: 2300px) {
.idm_content_container, #flex-error {
  margin-left: 400px;
}
}

@media only screen and (min-width: 2800px) {
.idm_content_container, #flex-error {
  margin-left: 600px;
}
}